#Backend
dotnetapp/Migrations/
karma/
nunit/
dotnetapp/Keys.cs
dotnetapp/apiUrl.cs
#Frontend
angularapp/node_modules/
angularapp/e2e
angularapp/karma.conf.js
angularapp/tsconfig.spec.json
angularapp/package-lock.json
angularapp/src/global.ts
angularapp/.editorconfig
angularapp/.browserslistrc
angularapp/src/test.ts
angularapp/src/environments/environment.ts
angularapp/src/globalUrl.ts
